*{
    margin: 10px;
}
h1{
    color: cadetblue;
    font-family: tahoma;

}
h2{
    color: cornflowerblue;
    font-family: tahoma;
}
body{
    color: royalblue
    ;
}
img{
    width: 300px;
    height: 180px;
}
p{
    color: darkslategray;
    background-color: orange;

}